In [1]:
import pandas as pd

In [2]:
df =  pd.read_csv("StudentPerformanceFactors.csv")

In [3]:
df.head()

,Hours_Studied,Attendance,Parental_Involvement,Access_to_Resources,Extracurricular_Activities,Sleep_Hours,Previous_Scores,Motivation_Level,Internet_Access,Tutoring_Sessions,Family_Income,Teacher_Quality,School_Type,Peer_Influence,Physical_Activity,Learning_Disabilities,Parental_Education_Level,Distance_from_Home,Gender,Exam_Score
0,23,84,Low,High,No,7,73,Low,Yes,0,Low,Medium,Public,Positive,3,No,High School,Near,Male,67
1,19,64,Low,Medium,No,8,59,Low,Yes,2,Medium,Medium,Public,Negative,4,No,College,Moderate,Female,61
2,24,98,Medium,Medium,Yes,7,91,Medium,Yes,2,Medium,Medium,Public,Neutral,4,No,Postgraduate,Near,Male,74
3,29,89,Low,Medium,Yes,8,98,Medium,Yes,1,Medium,Medium,Public,Negative,4,No,High School,Moderate,Male,71
4,19,92,Medium,Medium,Yes,6,65,Medium,Yes,3,Medium,High,Public,Neutral,4,No,College,Near,Female,70

In [4]:
df.Parental_Involvement.value_counts()

Parental_Involvement
Medium    3362
High      1908
Low       1337
Name: count, dtype: int64

In [10]:
from sklearn.preprocessing import OrdinalEncoder

encoder = OrdinalEncoder(categories=[['Low', 'Medium', 'High']])
df['Parental_Involvement'] = encoder.fit_transform(df[['Parental_Involvement']])

In [5]:
df.Access_to_Resources.value_counts()

Access_to_Resources
Medium    3319
High      1975
Low       1313
Name: count, dtype: int64

In [11]:
encoder = OrdinalEncoder(categories=[['Low', 'Medium', 'High']])
df['Access_to_Resources'] = encoder.fit_transform(df[['Access_to_Resources']])

In [6]:
df.Extracurricular_Activities.value_counts()

Extracurricular_Activities
Yes    3938
No     2669
Name: count, dtype: int64

In [16]:
df["Extracurricular_Activities"] = df["Extracurricular_Activities"].map({"Yes": 1, "No": 0})

In [7]:
df.Motivation_Level.value_counts()

Motivation_Level
Medium    3351
Low       1937
High      1319
Name: count, dtype: int64

In [12]:
encoder = OrdinalEncoder(categories=[['Low', 'Medium', 'High']])
df['Motivation_Level'] = encoder.fit_transform(df[['Motivation_Level']])

In [8]:
df.Internet_Access.value_counts()

Internet_Access
Yes    6108
No      499
Name: count, dtype: int64

In [15]:
df["Internet_Access"] = df["Internet_Access"].map({"Yes": 1, "No": 0})

In [9]:
df.Family_Income.value_counts()

Family_Income
Low       2672
Medium    2666
High      1269
Name: count, dtype: int64

In [13]:
encoder = OrdinalEncoder(categories=[['Low', 'Medium', 'High']])
df['Family_Income'] = encoder.fit_transform(df[['Family_Income']])

In [17]:
df.head()

,Hours_Studied,Attendance,Parental_Involvement,Access_to_Resources,Extracurricular_Activities,Sleep_Hours,Previous_Scores,Motivation_Level,Internet_Access,Tutoring_Sessions,Family_Income,Teacher_Quality,School_Type,Peer_Influence,Physical_Activity,Learning_Disabilities,Parental_Education_Level,Distance_from_Home,Gender,Exam_Score
0,23,84,0.0,2.0,0,7,73,0.0,1,0,0.0,Medium,Public,Positive,3,No,High School,Near,Male,67
1,19,64,0.0,1.0,0,8,59,0.0,1,2,1.0,Medium,Public,Negative,4,No,College,Moderate,Female,61
2,24,98,1.0,1.0,1,7,91,1.0,1,2,1.0,Medium,Public,Neutral,4,No,Postgraduate,Near,Male,74
3,29,89,0.0,1.0,1,8,98,1.0,1,1,1.0,Medium,Public,Negative,4,No,High School,Moderate,Male,71
4,19,92,1.0,1.0,1,6,65,1.0,1,3,1.0,High,Public,Neutral,4,No,College,Near,Female,70

In [18]:
df.Teacher_Quality.value_counts()

Teacher_Quality
Medium    3925
High      1947
Low        657
Name: count, dtype: int64

In [21]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6607 entries, 0 to 6606
Data columns (total 20 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Hours_Studied               6607 non-null   int64
 1   Attendance                  6607 non-null   int64
 2   Parental_Involvement        6607 non-null   float64
 3   Access_to_Resources         6607 non-null   float64
 4   Extracurricular_Activities  6607 non-null   int64
 5   Sleep_Hours                 6607 non-null   int64
 6   Previous_Scores             6607 non-null   int64
 7   Motivation_Level            6607 non-null   float64
 8   Internet_Access             6607 non-null   int64
 9   Tutoring_Sessions           6607 non-null   int64
 10  Family_Income               6607 non-null   float64
 11  Teacher_Quality             6529 non-null   object
 12  School_Type                 6607 non-null   object
 13  Peer_Influence              6607 non-null   object
 14  Physical_Activity           6607 non-null   int64
 15  Learning_Disabilities       6607 non-null   object
 16  Parental_Education_Level    6517 non-null   object
 17  Distance_from_Home          6540 non-null   object
 18  Gender                      6607 non-null   object
 19  Exam_Score                  6607 non-null   int64
dtypes: float64(4), int64(9), object(7)
memory usage: 1.0+ MB

In [23]:
df.Teacher_Quality.isnull().value_counts()

Teacher_Quality
False    6529
True       78
Name: count, dtype: int64

In [20]:
encoder = OrdinalEncoder(categories=[['Low', 'Medium', 'High']])
df['Teacher_Quality'] = encoder.fit_transform(df[['Teacher_Quality']])

ValueError: Found unknown categories [nan] in column 0 during fit