In [62]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt

from mlxtend.frequent_patterns import apriori
from mlxtend.frequent_patterns import association_rules

import warnings
warnings.filterwarnings('ignore')

In [63]:
#importing CSV uploaded to drive
id = "1M5IPR96R9efi5cb2n8LxpXIXyx_F0x3v"
print("https://drive.google.com/uc?export=download&id=" + id)
!wget "https://drive.google.com/uc?export=download&id=1M5IPR96R9efi5cb2n8LxpXIXyx_F0x3v" -O Online_Retail.csv

https://drive.google.com/uc?export=download&id=1M5IPR96R9efi5cb2n8LxpXIXyx_F0x3v
--2026-01-06 18:51:33--  https://drive.google.com/uc?export=download&id=1M5IPR96R9efi5cb2n8LxpXIXyx_F0x3v
Resolving drive.google.com (drive.google.com)... 142.250.67.238, 2404:6800:4009:828::200e
Connecting to drive.google.com (drive.google.com)|142.250.67.238|:443... connected.
HTTP request sent, awaiting response... 303 See Other
Location: https://drive.usercontent.google.com/download?id=1M5IPR96R9efi5cb2n8LxpXIXyx_F0x3v&export=download [following]
--2026-01-06 18:51:33--  https://drive.usercontent.google.com/download?id=1M5IPR96R9efi5cb2n8LxpXIXyx_F0x3v&export=download
Resolving drive.usercontent.google.com (drive.usercontent.google.com)... 142.250.192.97, 2404:6800:4009:80d::2001
Connecting to drive.usercontent.google.com (drive.usercontent.google.com)|142.250.192.97|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 45005763 (43M) [application/octet-stream]
Saving to: ‘Online_Retail.csv’

Online_Retail.csv   100%[===================>]  42.92M  4.48MB/s    in 9.8s

2026-01-06 18:51:46 (4.38 MB/s) - ‘Online_Retail.csv’ saved [45005763/45005763]

In [64]:
df = pd.read_csv("Online_Retail.csv")

In [65]:
df.shape

(541909, 8)

In [66]:
df.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,01/12/10 8:26,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,01/12/10 8:26,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,01/12/10 8:26,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,01/12/10 8:26,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,01/12/10 8:26,3.39,17850.0,United Kingdom

In [67]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 541909 entries, 0 to 541908
Data columns (total 8 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   InvoiceNo    541909 non-null  object
 1   StockCode    541909 non-null  object
 2   Description  540455 non-null  object
 3   Quantity     541909 non-null  int64
 4   InvoiceDate  541909 non-null  object
 5   UnitPrice    541909 non-null  float64
 6   CustomerID   406829 non-null  float64
 7   Country      541909 non-null  object
dtypes: float64(2), int64(1), object(5)
memory usage: 33.1+ MB

In [68]:
df.InvoiceNo.nunique()

25900

In [69]:
df.CustomerID.nunique()

4372

In [70]:
df.describe()

            Quantity      UnitPrice     CustomerID
count  541909.000000  541909.000000  406829.000000
mean        9.552250       4.611114   15287.690570
std       218.081158      96.759853    1713.600303
min    -80995.000000  -11062.060000   12346.000000
25%         1.000000       1.250000   13953.000000
50%         3.000000       2.080000   15152.000000
75%        10.000000       4.130000   16791.000000
max     80995.000000   38970.000000   18287.000000

In [71]:
(df.Quantity < 0).sum()

np.int64(10624)

In [72]:
(df.UnitPrice < 0).sum()

np.int64(2)

In [73]:
# Given quantity can never be negative , removing negative values

df = df[(df['Quantity'] >= 0)]

In [74]:
df.shape

(531285, 8)

In [75]:
df = df[(df['UnitPrice']>=0)]

In [76]:
df.shape

(531283, 8)

In [77]:
df.describe()

            Quantity      UnitPrice     CustomerID
count  531283.000000  531283.000000  397924.000000
mean       10.655299       3.898954   15294.315171
std       156.830617      35.876279    1713.169877
min         1.000000       0.000000   12346.000000
25%         1.000000       1.250000   13969.000000
50%         3.000000       2.080000   15159.000000
75%        10.000000       4.130000   16795.000000
max     80995.000000   13541.330000   18287.000000

In [78]:
df['InvoiceNo'] = df['InvoiceNo'].astype('str')

In [79]:
df.Country.value_counts()

Country
United Kingdom          486284
Germany                   9042
France                    8408
EIRE                      7894
Spain                     2485
Netherlands               2363
Belgium                   2031
Switzerland               1967
Portugal                  1501
Australia                 1185
Norway                    1072
Italy                      758
Channel Islands            748
Finland                    685
Cyprus                     614
Sweden                     451
Unspecified                446
Austria                    398
Denmark                    380
Poland                     330
Japan                      321
Israel                     295
Hong Kong                  284
Singapore                  222
Iceland                    182
USA                        179
Canada                     151
Greece                     145
Malta                      112
United Arab Emirates        68
European Community          60
RSA                         58
Lebanon                     45
Lithuania                   35
Brazil                      32
Czech Republic              25
Bahrain                     18
Saudi Arabia                 9
Name: count, dtype: int64

#### As Many Customer from U.K. as Possible we will use U.K Customers

In [80]:
data = df[df.Country == "United Kingdom"]

In [81]:
data.head(5)

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,01/12/10 8:26,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,01/12/10 8:26,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,01/12/10 8:26,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,01/12/10 8:26,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,01/12/10 8:26,3.39,17850.0,United Kingdom

In [82]:
data.shape

(486284, 8)

In [83]:
data['Description'].nunique()

4058

In [84]:
2**4058

3799464616943269017398971157369030634363168243171035211650572758240573995759614106096075600125905324024243261062799366620265840313316561540935203403392243773654470629639799875223112722358141466663903229389164866830019741753486278851314035580233709397350350295549301168907855931102380451609744260289873742319057560878288451152718719204823213442430931366953967769597608626802171875227840791440809755082932808581555187579645418425332524690339821509549425082150952371554043264265328957365759744974758985657061387500957121553845110666639072681708741917950307656506332906597410785435298742596978062592325279818368270269361552003513663697324707156003887971099549156025014592896016143705048331595009531447145987547156566052307549452624367897296843841153166473493162888578194303010911509352007820979814943545801850694498073677319170768851810870266357217361593498748118203393143433185904807216763010281846859730214895702021444365261080175901736694678765968644371117128587589287298226044730821726591964649566851675691281161079880473153674134920850044848213841060235506471405629320713651078474941887023314633285251733010767148074271716921513805054342729447319019840153491904542414666963570985868540925741111211165965636938358528671744

In [85]:
data = data.groupby(['InvoiceNo', 'Description'])['Quantity'].sum()

In [86]:
data = data.unstack().reset_index().fillna(0)

In [87]:
data.head(100)

Description,InvoiceNo,4 PURPLE FLOCK DINNER CANDLES,50'S CHRISTMAS GIFT BAG LARGE,DOLLY GIRL BEAKER,I LOVE LONDON MINI BACKPACK,NINE DRAWER OFFICE TIDY,OVAL WALL MIRROR DIAMANTE,RED SPOT GIFT BAG LARGE,SET 2 TEA TOWELS I LOVE LONDON,SPACEBOY BABY GIFT SET,...,returned,taig adjust,test,to push order througha s stock was,website fixed,wrongly coded 20713,wrongly coded 23343,wrongly marked,wrongly marked 23343,wrongly sold (22719) barcode
0,536365,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,536366,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,536367,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,536368,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,536369,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,536572,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
96,536573,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
97,536574,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
98,536575,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
99,536576,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [88]:
#Replace quantities with Binary values
def encode_units(x):
    try:
        return 1 if float(x) > 0 else 0
    except (ValueError, TypeError):
        return x  # keep non-numeric values unchanged

data = data.map(encode_units)

In [89]:
 data = data.set_index('InvoiceNo')

In [90]:
# Filtering invoices whichn contains at least 2 different products are present

data = data[(data > 0).sum(axis=1) >= 2]
print(data.shape)
data.head()

(16539, 4058)

Description,4 PURPLE FLOCK DINNER CANDLES,50'S CHRISTMAS GIFT BAG LARGE,DOLLY GIRL BEAKER,I LOVE LONDON MINI BACKPACK,NINE DRAWER OFFICE TIDY,OVAL WALL MIRROR DIAMANTE,RED SPOT GIFT BAG LARGE,SET 2 TEA TOWELS I LOVE LONDON,SPACEBOY BABY GIFT SET,TOADSTOOL BEDSIDE LIGHT,...,returned,taig adjust,test,to push order througha s stock was,website fixed,wrongly coded 20713,wrongly coded 23343,wrongly marked,wrongly marked 23343,wrongly sold (22719) barcode
InvoiceNo,,,,,,,,,,,,,,,,,,,,,
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [91]:
frequent_itemsets = apriori(data,min_support=0.03,use_colnames=True)

In [92]:
frequent_itemsets.head(5)

    support                           itemsets
0  0.051696           (6 RIBBONS RUSTIC CHARM)
1  0.035129  (60 CAKE CASES VINTAGE CHRISTMAS)
2  0.045529      (60 TEATIME FAIRY CAKE CASES)
3  0.033557   (72 SWEETHEART FAIRY CAKE CASES)
4  0.052663       (ALARM CLOCK BAKELIKE GREEN)