### What is Matrix Factorization?

- **Matrix factorization** is a mathematical technique commonly used in recommendation systems to factorize a user-item interaction matrix into lower-dimensional matrices representing users and items.
- The core concept behind matrix factorization is to approximate the original matrix by decomposing it into two or more matrices.
- This process helps uncover latent factors that influence user-item interactions.

#### Let's Breakdown the process of Matrix Factorization in Simple Steps

- User-Item Interaction Matrix:

 - In recommendation systems, you start with a user-item interaction matrix, often denoted as R.
 - Rows correspond to users, columns correspond to items, and the entries $R_{i,j}$ represent user ratings, interactions, or preferences for items.

 <center><img src="https://drive.google.com/uc?id=1gGxM-opp1666trtmfMlc6JY4Ue46imbn"></center>

- Decomposition:

 - Matrix factorization decomposes this user-item interaction matrix R into two lower-dimensional matrices, typically denoted as U (user matrix) and I (item matrix).

 <center><img src="https://drive.google.com/uc?id=1t3poDcWoe-ewAi_QCgEXe1SBoSgqZGOB"></center>

- Dimensions:

 - The dimensions of the user matrix U are M x K, where M is the number of users, and K is the number of latent factors. The item matrix I has dimensions of K x N, where N is the number of items.

- Objective Function:

 - The goal of matrix factorization is to find the matrices U and V such that the product U * V approximates the original matrix R.
 - To achieve this, an objective function is defined, often using a loss function like Mean Squared Error (MSE) or a variant of it.

 > $Loss = ðšº (R_{ij}-(U_{i}*I_{j}))^{2}$

 - Here, U_i and I_j are the latent factor vectors for the i-th user and j-th item, respectively.

- Optimization:

 - The matrices U and I are optimized to minimize the loss function. This is typically done using optimization techniques like Gradient Descent or Alternating Least Squares (ALS).

 - We'll use Gradient descent to optimize the loss function.

 - The optimization process updates the latent factor vectors in U and V iteratively to improve the approximation of the original matrix R.
 - The objective is to find U and V that provide the best fit to the observed user-item interactions.

- Prediction:

 - Once the optimization is complete, the factorized matrices U and V can be used to predict missing values in the original matrix R.
 - These predictions are used to generate recommendations for users.

In [160]:
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import pandas as pd
from sklearn.preprocessing import StandardScaler

In [161]:
!wget --no-check-certificate 'https://drive.google.com/uc?export=download&id=1Q9UJtrN_v_dS-garl5gQ1I_SotGhye_1' -O "movies.csv"
!wget --no-check-certificate 'https://drive.google.com/uc?export=download&id=1HOFWUAMFlYbd-gk1B2IyV2-hXDZI7gKR' -O "ratings.csv"
!wget --no-check-certificate 'https://drive.google.com/uc?export=download&id=1b7_yRRBs3s3atp1WQHN2GU577vxY8u_h' -O "users.csv"

--2025-12-10 10:45:51--  https://drive.google.com/uc?export=download&id=1Q9UJtrN_v_dS-garl5gQ1I_SotGhye_1
Resolving drive.google.com (drive.google.com)... 74.125.137.139, 74.125.137.138, 74.125.137.113, ...
Connecting to drive.google.com (drive.google.com)|74.125.137.139|:443... connected.
HTTP request sent, awaiting response... 303 See Other
Location: https://drive.usercontent.google.com/download?id=1Q9UJtrN_v_dS-garl5gQ1I_SotGhye_1&export=download [following]
--2025-12-10 10:45:51--  https://drive.usercontent.google.com/download?id=1Q9UJtrN_v_dS-garl5gQ1I_SotGhye_1&export=download
Resolving drive.usercontent.google.com (drive.usercontent.google.com)... 142.250.101.132, 2607:f8b0:4023:c06::84
Connecting to drive.usercontent.google.com (drive.usercontent.google.com)|142.250.101.132|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 515699 (504K) [application/octet-stream]
Saving to: â€˜movies.csvâ€™

movies.csv          100%[===================>] 503.61K  --.-KB/s    in 0.1s

2025-12-10 10:45:52 (5.10 MB/s) - â€˜movies.csvâ€™ saved [515699/515699]

--2025-12-10 10:45:53--  https://drive.google.com/uc?export=download&id=1HOFWUAMFlYbd-gk1B2IyV2-hXDZI7gKR
Resolving drive.google.com (drive.google.com)... 74.125.137.139, 74.125.137.138, 74.125.137.113, ...
Connecting to drive.google.com (drive.google.com)|74.125.137.139|:443... connected.
HTTP request sent, awaiting response... 303 See Other
Location: https://drive.usercontent.google.com/download?id=1HOFWUAMFlYbd-gk1B2IyV2-hXDZI7gKR&export=download [following]
--2025-12-10 10:45:53--  https://drive.usercontent.google.com/download?id=1HOFWUAMFlYbd-gk1B2IyV2-hXDZI7gKR&export=download
Resolving drive.usercontent.google.com (drive.usercontent.google.com)... 142.250.101.132, 2607:f8b0:4023:c06::84
Connecting to drive.usercontent.google.com (drive.usercontent.google.com)|142.250.101.132|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 2475052 (2.4M) [application/octet-stream]
Saving to: â€˜ratings.csvâ€™

ratings.csv         100%[===================>]   2.36M  8.55MB/s    in 0.3s

2025-12-10 10:45:55 (8.55 MB/s) - â€˜ratings.csvâ€™ saved [2475052/2475052]

--2025-12-10 10:45:55--  https://drive.google.com/uc?export=download&id=1b7_yRRBs3s3atp1WQHN2GU577vxY8u_h
Resolving drive.google.com (drive.google.com)... 74.125.137.139, 74.125.137.138, 74.125.137.113, ...
Connecting to drive.google.com (drive.google.com)|74.125.137.139|:443... connected.
HTTP request sent, awaiting response... 303 See Other
Location: https://drive.usercontent.google.com/download?id=1b7_yRRBs3s3atp1WQHN2GU577vxY8u_h&export=download [following]
--2025-12-10 10:45:55--  https://drive.usercontent.google.com/download?id=1b7_yRRBs3s3atp1WQHN2GU577vxY8u_h&export=download
Resolving drive.usercontent.google.com (drive.usercontent.google.com)... 142.250.101.132, 2607:f8b0:4023:c06::84
Connecting to drive.usercontent.google.com (drive.usercontent.google.com)|142.250.101.132|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 16784 (16K) [application/octet-stream]
Saving to: â€˜users.csvâ€™

users.csv           100%[===================>]  16.39K  --.-KB/s    in 0s

2025-12-10 10:45:56 (80.8 MB/s) - â€˜users.csvâ€™ saved [16784/16784]

In [162]:
movies = pd.read_csv('movies.csv')
ratings = pd.read_csv('ratings.csv')
users = pd.read_csv('users.csv')

In [163]:
movies.shape, ratings.shape, users.shape

((10329, 3), (105339, 4), (668, 3))

In [164]:
movies.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [165]:
ratings.head()

   userId  movieId  rating   timestamp
0       1       16     4.0  1217897793
1       1       24     1.5  1217895807
2       1       32     4.0  1217896246
3       1       47     4.0  1217896556
4       1       50     4.0  1217896523

In [166]:
users.head()

   userId  age  time_spent_per_day
0       1   16            3.976315
1       2   24            1.891303
2       3   20            4.521478
3       4   23            2.095284
4       5   35            1.759860

In [167]:
ratings.head()
ratings = ratings[['userId', 'movieId', 'rating']]

In [168]:
user_item_matrix = ratings.pivot(index='userId', columns='movieId', values='rating')
user_item_matrix.fillna(0, inplace=True)
user_item_matrix.head()
rm = user_item_matrix

In [169]:
rm.head(3)

movieId,1,2,3,4,5,6,7,8,9,10,...,144482,144656,144976,146344,146656,146684,146878,148238,148626,149532
userId,,,,,,,,,,,,,,,,,,,,,
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,5.0,0.0,2.0,0.0,3.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,3.0,0.0,3.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [170]:
rm_small = rm.copy()
rm_small = rm_small[rm_small.columns[:100]]
rm_small = rm_small.head(100)
rm_small.head(3)

movieId,1,2,3,4,5,6,7,8,9,10,...,100,101,102,103,104,105,107,108,110,111
userId,,,,,,,,,,,,,,,,,,,,,
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.0,0.0
2,5.0,0.0,2.0,0.0,3.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,3.0,0.0,3.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,3.0,0.0,0.0,0.0,0.0

In [171]:
K = 2
P = np.random.normal(size = (rm_small.shape[0],K))
Q = np.random.normal(size= (rm_small.shape[1],K))

In [172]:
def matrix_factorization(R,P,Q,K, steps=10000, alpha=0.0002, beta=0.02):
    Q = Q.T
    eji = 0
    for step in range(steps):
        for i in range(len(R)):
            for j in range(len(R[i])):
                if R[i][j] == 0:
                    continue

                eji = R[i][j] - np.dot(P[i, :], Q[:, j])
                for k in range(K):
                    x = P[i][k]
                    P[i][k] += alpha * (2 * eji * Q[k][j] - beta * P[i][k])
                    Q[k][j] += alpha * (2 * eji * x - beta * Q[k][j])
    return P, Q.T

In [173]:
B, C = matrix_factorization(rm_small.values, P.copy(), Q.copy(), K)

In [174]:
print(np.dot(B[4], C[36]), rm_small.values[4, 36])
print(np.dot(B[1], C[0]), rm_small.values[1, 0])
print(np.dot(B[1], C[2]), rm_small.values[1, 2])
print(np.dot(B[3], C[17]), rm_small.values[3, 17])

5.079337016982378 0.0
4.913797385009593 5.0
3.4093496604988136 2.0
-1.4587418783517296 0.0

In [175]:
print(B.shape)
print(C.shape)

(100, 2)
(100, 2)

In [176]:
print(B)
print(C)

[[ 1.77433161  0.29873475]
 [ 1.333991   -1.74082777]
 [ 2.26109564 -0.70402922]
 [ 1.96603179  1.60671765]
 [-0.68791169 -3.34417302]
 [ 0.6731942   0.85404838]
 [ 2.24227935  0.00574247]
 [ 1.39708951 -1.60067178]
 [ 1.37971291 -0.92524861]
 [ 1.38932633 -1.88667061]
 [ 1.57982111 -0.39843969]
 [ 0.72964258 -2.02272264]
 [ 1.84018781  1.16186052]
 [ 0.45475128 -2.48453444]
 [ 2.17055578 -0.96593687]
 [ 2.1071823  -1.40909095]
 [ 2.51065378  1.34285773]
 [ 1.90629417  0.56267976]
 [ 0.25502325  1.2181132 ]
 [ 0.90599489 -0.98209135]
 [ 2.15443605  0.48206531]
 [ 1.46468264 -0.91506388]
 [ 1.69965498  0.37112741]
 [ 1.84605731 -1.85420887]
 [ 1.27119579 -1.07592681]
 [ 1.35579177  1.22735555]
 [-0.96214324 -2.09927804]
 [ 0.12245969 -2.2462444 ]
 [ 1.6970475  -0.22922307]
 [ 1.90067409 -0.4373256 ]
 [ 1.86284925 -0.969234  ]
 [ 1.86792511 -0.9687361 ]
 [ 2.18209362 -0.95684016]
 [ 2.04347122 -0.5131913 ]
 [ 2.47881351  0.65103545]
 [ 2.18852954  0.15036034]
 [-0.01130416 -1.96806705]
 [ 1.59020717 -0.96408385]
 [ 1.62703814 -0.74264441]
 [-0.44927427 -0.23833176]
 [ 1.88399683 -1.33585947]
 [ 0.30346974 -3.64927472]
 [ 1.66016345 -1.00432669]
 [ 1.57176805  1.31444249]
 [ 1.77874967 -0.13434949]
 [ 1.42570993 -1.42961843]
 [ 1.81657424 -1.28232944]
 [ 0.21425398  0.51983476]
 [-1.18209671 -0.9091346 ]
 [ 0.97645074 -1.54535168]
 [ 2.88380626  0.33680794]
 [ 1.9461731   0.29215465]
 [ 0.68323411 -0.62960403]
 [ 1.82570365  0.47312203]
 [-0.59486334 -2.37059349]
 [ 2.16808283  0.6665184 ]
 [ 2.03413406 -0.02919741]
 [-0.83605625  0.65521136]
 [ 1.48449645  0.79390528]
 [ 1.84165315  0.59492585]
 [ 1.81690429  0.63222945]
 [ 1.41286076  0.17352043]
 [ 1.70713962  0.13653641]
 [ 0.20241833  0.49860355]
 [ 1.63505713 -1.57001744]
 [ 1.21951125 -1.37420849]
 [ 1.47671413  0.64835694]
 [ 1.9542246  -1.34554171]
 [ 1.99084782  0.21409197]
 [ 1.81891399 -0.27690254]
 [ 1.90902399 -0.54200112]
 [ 1.53785272 -1.20383942]
 [ 1.26566683  0.30345936]
 [ 1.5815776  -0.06126396]
 [ 1.17121956  1.81975071]
 [ 1.42152573 -1.36297702]
 [ 1.57913752 -0.77128757]
 [-1.07574365 -0.12867163]
 [ 1.63576758 -0.3402311 ]
 [ 1.96949588 -1.36892481]
 [ 1.89247811 -0.16410706]
 [ 0.08068736 -1.82341422]
 [ 1.55480715 -0.39893562]
 [ 1.25268163 -0.38043548]
 [ 1.77770048 -1.52396954]
 [ 2.14979001  0.92271169]
 [ 1.77829906 -0.67228174]
 [ 2.05838276 -0.45764925]
 [ 1.25417002 -1.24984657]
 [ 2.10375873 -0.11049436]
 [ 1.3464952  -1.1398694 ]
 [ 2.13561026  0.44075144]
 [ 0.59224749 -2.16386456]
 [-2.03801129  0.43108145]
 [ 1.74256248 -0.5173041 ]
 [ 1.44866083 -1.22945688]
 [ 1.93011955  0.27190359]
 [ 0.62268776 -1.82452881]
 [-0.33356417  0.46165684]
 [-0.1314513  -2.62085504]]
[[ 1.99285565 -1.29555946]
 [ 1.98343504  0.52356448]
 [ 1.33677707 -0.93409648]
 [ 0.74686386 -1.45241862]
 [ 1.22094717 -0.99845796]
 [ 2.23014826 -0.28054146]
 [ 1.03596609 -1.06569505]
 [ 1.12715903  0.29442472]
 [ 1.97419839  0.97376648]
 [ 1.72781408 -1.24204802]
 [ 1.6727809  -1.06902854]
 [ 1.27145681 -0.7757337 ]
 [ 1.70488175  0.16986545]
 [ 0.8878947  -1.40179852]
 [ 1.91055715  0.33752221]
 [ 2.18519772  0.01729064]
 [ 1.56792228 -1.41975248]
 [ 0.74234765 -1.81626246]
 [ 1.54143773  0.31957259]
 [ 1.79765297  0.13854638]
 [ 1.9028197  -0.29806815]
 [ 1.38666219 -1.15326008]
 [ 1.64113162 -0.77263867]
 [ 1.39095439 -1.56434919]
 [ 2.19831177 -0.58384034]
 [-0.05520158 -2.40250473]
 [-0.51210751 -0.05458582]
 [ 0.20385201 -2.19148518]
 [ 3.33650147  1.25540436]
 [ 1.02663453  1.23441512]
 [ 1.30973657 -0.77926106]
 [ 2.33088096  0.04323063]
 [ 1.76496065  0.1149503 ]
 [ 1.27808076 -1.63810188]
 [ 1.12765925  0.39772021]
 [ 1.31703642 -1.87906107]
 [ 1.20163301 -1.76604332]
 [ 0.58614742  0.96292302]
 [ 1.12558596 -1.73764499]
 [ 1.11236651 -0.51065513]
 [-1.66509004 -0.73442708]
 [ 1.30853157 -0.4105148 ]
 [ 1.59316588 -1.22491901]
 [ 1.1304414  -0.68337181]
 [ 2.33306414 -0.10830922]
 [ 0.89588446 -1.88216607]
 [-0.3045966   1.01821007]
 [ 2.32785785  0.10153978]
 [ 0.45998096 -1.78778333]
 [ 0.31001774  0.02834645]
 [-1.08584447 -0.16326817]
 [ 1.17059881  0.73149164]
 [ 0.25428637  1.45715031]
 [ 0.90680033 -1.77678214]
 [ 0.37369545  0.12804843]
 [ 0.75879948 -0.65387872]
 [ 0.69446391 -1.73200213]
 [ 2.00626734 -0.90699392]
 [ 0.24030877 -0.96216412]
 [ 1.62861394  1.91596726]
 [ 0.45919734 -1.2463236 ]
 [ 1.35557612  0.7733741 ]
 [ 0.12190718  0.90355586]
 [ 2.13783905  0.31830883]
 [ 1.77900177 -0.21382208]
 [ 0.82270752 -0.54913739]
 [-1.16711937  0.71054464]
 [ 1.13126224  1.05552991]
 [ 0.03378022 -1.0805154 ]
 [ 0.42079568 -0.65107448]
 [ 1.74857703 -0.48175365]
 [ 1.05360512  0.56118956]
 [ 1.91985673 -0.28821791]
 [ 1.58713614 -0.40186792]
 [ 1.47807292 -0.09332861]
 [-0.18421334  1.42488793]
 [ 1.15973979 -0.69461206]
 [-0.58344086 -1.22403902]
 [ 0.26821485 -2.19897427]
 [ 1.61538909 -1.08426547]
 [ 0.51190557 -1.19129831]
 [ 0.60884739 -1.78044947]
 [ 2.24216964 -0.84894969]
 [-1.77738048 -0.32389092]
 [ 2.39114973  0.88367301]
 [ 0.01832666 -0.82973891]
 [ 0.37659168  1.3332616 ]
 [ 1.31835155 -1.12837845]
 [ 0.87460792  0.08196427]
 [ 0.13848562 -2.30629352]
 [ 0.92349363 -1.17023944]
 [ 1.86971909 -0.99736848]
 [ 0.95771157 -0.56338605]
 [ 0.87238394 -0.57366159]
 [ 1.51482772 -1.07781378]
 [ 0.97654976 -1.70859998]
 [ 1.87377161 -0.08519144]
 [-0.80641894  0.75718241]
 [ 1.97155882 -0.88576391]
 [ 2.35816663 -0.20241223]]

In [177]:
from sklearn.metrics import mean_squared_error
rm_  = np.dot(B, C.T)
mean_squared_error(rm_small.values, rm_)

6.63829118122225

In [189]:
mean_squared_error(rm_small.values[rm_small.values > 0], rm_[rm_small.values > 0])

0.3227832496693763

In [178]:
rm_raw  = ratings.copy()

In [179]:
rm_raw.head()

   userId  movieId  rating
0       1       16     4.0
1       1       24     1.5
2       1       32     4.0
3       1       47     4.0
4       1       50     4.0

In [180]:
!pip install cmfrec

Requirement already satisfied: cmfrec in /usr/local/lib/python3.12/dist-packages (3.5.1.post13)
Requirement already satisfied: cython in /usr/local/lib/python3.12/dist-packages (from cmfrec) (3.0.12)
Requirement already satisfied: numpy>=1.25 in /usr/local/lib/python3.12/dist-packages (from cmfrec) (2.0.2)
Requirement already satisfied: scipy in /usr/local/lib/python3.12/dist-packages (from cmfrec) (1.16.3)
Requirement already satisfied: pandas in /usr/local/lib/python3.12/dist-packages (from cmfrec) (2.2.2)
Requirement already satisfied: findblas in /usr/local/lib/python3.12/dist-packages (from cmfrec) (0.1.26.post1)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.12/dist-packages (from pandas->cmfrec) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.12/dist-packages (from pandas->cmfrec) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.12/dist-packages (from pandas->cmfrec) (2025.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.12/dist-packages (from python-dateutil>=2.8.2->pandas->cmfrec) (1.17.0)

In [181]:
from cmfrec import CMF
rm_raw.rename(columns={'userId': 'UserId', 'movieId': 'ItemId', 'rating': 'Rating'}, inplace=True)

In [182]:
rm_raw.head()

   UserId  ItemId  Rating
0       1      16     4.0
1       1      24     1.5
2       1      32     4.0
3       1      47     4.0
4       1      50     4.0

In [183]:
model = CMF(method = "als" ,k=2, lambda_=0.1,user_bias=False,item_bias=False,verbose=True)

In [184]:
model.fit(rm_raw)

Starting ALS optimization routine

Updating B ... done
Updating A ... done
	Completed ALS iteration  1

Updating B ... done
Updating A ... done
	Completed ALS iteration  2

Updating B ... done
Updating A ... done
	Completed ALS iteration  3

Updating B ... done
Updating A ... done
	Completed ALS iteration  4

Updating B ... done
Updating A ... done
	Completed ALS iteration  5

Updating B ... done
Updating A ... done
	Completed ALS iteration  6

Updating B ... done
Updating A ... done
	Completed ALS iteration  7

Updating B ... done
Updating A ... done
	Completed ALS iteration  8

Updating B ... done
Updating A ... done
	Completed ALS iteration  9

Updating B ... done
Updating A ... done
	Completed ALS iteration 10

ALS procedure terminated successfully

Collective matrix factorization model
(explicit-feedback variant)

In [185]:
model.A_.shape , model.B_.shape

((668, 2), (10325, 2))

In [186]:
model.A_

array([[ 0.6181083 , -1.296816  ],
       [ 1.0773844 ,  0.44746563],
       [ 0.7495232 , -0.2906971 ],
       ...,
       [ 0.72334623, -1.0197821 ],
       [ 0.64136606, -0.22247148],
       [-0.2533895 , -1.4885318 ]], dtype=float32)

In [187]:
rm__ = np.dot(model.A_, model.B_.T)
mean_squared_error(rm.values[rm > 0], rm__[rm > 0]) ** 0.5

3.8516142259951596

In [188]:
#Homework : Build a classifier/regressor using the users , movies , ratings data

# created 1 joined dataset
# rating will be the dependent variable
# column from the tables like age , time_spent , genres etc would be